* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-size: 100% 100%;
    background-image: url(/imagenes/fondo\ madera1.jpeg);
    display: flex;
    flex-direction: column;
}

#screen {
    display:flex;
    flex-direction: column;
    text-align:center;
    margin: 100px auto;
    height: 500px;
    width: 900px;
    display:flex;
    justify-content: center;
   /*  background-image: url(/imagenes/pergamino.png);
    background-repeat: no-repeat;
    background-size: 100% 100%; */
}

.pergaminoBg{
    background-image: url(/imagenes/pergamino.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;


}

.gameOverBg {
    background-image: url(/imagenes/GameOverScreen.jpeg);
    background-size: 100%;
    border: 10px solid rgb(78, 57, 30);
    border-radius: 15%;
}

.logo {
    font-size: 8em;
    font-family: fantasy;
}
.descr{
    font-family: fantasy;
    font-size: 1.5em;
}


.start-btn>button {
    background-image: url("/imagenes/textura madera.jpeg");
    height: 60px;
    width: 200px;
    font-size: 35px;
    text-align: center;
    font-family: fantasy;
    color: white;
    margin: 30px;
}

canvas {
    border: 2px solid rgb(119, 88, 48);
    background-color:wheat;
    opacity: 80%;
    margin: 30px 250px 30px 250px;


}